.container{
   display: flex;
   justify-content: center;
}

.input_box{
    display: flex;
    align-items: center;
    margin: 10px auto;
    padding: 6px 10px;
    border-radius: 20px;
    border: 1px solid #333;
    width: 40%;
}

.search_icon{
    margin: 4px 10px 4px 4px;
}

.input{
    border: none;
    outline: none;
    width: 100%;
    padding-left: 12px;
    border-left: 1px solid #d3d3d3;
}