.container{
    margin: 20px 0;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 950px) {
        flex-direction: column;
    }
}



.back_container{
    cursor: pointer;

     @media screen and (max-width: 950px) {
       margin-bottom: 20px
    }
}

.back_img{
    vertical-align: middle;
    margin: 0 6px 2px 0;
}

.main_content{
    width: 80%;

    @media screen and (max-width: 950px) {
        width: 100%;
    }
}

.book_card {
    display: flex;
    padding: 60px 20px;
    background-color: #DBF6F1;
    margin-bottom: 40px;

    @media screen and (max-width: 950px) {
        flex-direction: column;
        padding: 20px 60px;
    }
}

.img_container{
    width: 14%;

    @media screen and (max-width: 1250px) {
        width: 18% 
    }

    @media screen and (max-width: 950px) {
        width: 100%;
        margin-bottom: 20px
    }
}

.book_img{
    position: relative;
    left: -100%;

    @media screen and (max-width: 950px) {
        left: 0;
        margin: auto;
        display: block;
    }
}





