.btn{
    border-radius: 6px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #000000;
}
.cart_img {
    vertical-align: text-bottom;
    margin-right: 4px;
}

.sm {
    padding: 8px 12px;
    font-size: 10px;
}

.md {
    padding: 8px 16px;
    font-size: 14px;
}

.books{
    background-color: #ee3425;
    border: none;
    color: #fff;
}

.book_info{
    background-color: #6130E8;
    border: none;
    color: #fff;

}
