.container{
    margin: 24px 0;
}

.feature_sec{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.book_card{
    width: 31%;
    border-radius: 12px;
    padding: 12px 16px;
    display: flex;
    min-width: 350px;
    background-image: linear-gradient(to right bottom, #fcd9df, #cfe0f8 );
}

.book_img{
    mix-blend-mode: multiply;
}

.info_section{
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.author{
    font-size: 14px;
    margin-bottom: 8px;
}

.desc{
    font-size: 11px;
    color: #4e4e4e;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 825px) {
    .feature_sec{
        align-items: center;
    }

    .book_card{
        width: 100%;
        margin: 20px;
        min-width: 250px;

    }
}